@use '../abstracts/' as *;
@use '../mixins' as *;
@use '../mixins/mixins-media' as *;

.experience {
  padding-top: 100px;
  padding-bottom: 92px;

  color: $color-white;
  background-color: $color-primary;

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-xl;
    justify-content: space-between;

    @include lg-min {
      justify-content: space-between;
    }
    @include lg {
      justify-content: space-evenly;
    }
  }

  &__item {
    display: flex;
    gap: $gap;
  }

  &-description {
    margin-top: -0.5rem; // -8px
  }

  &-number {
    margin-bottom: 0.125rem; // 2px

    font-size: 21px;
    font-weight: 500;
  }

  &-picture {
    order: -1;
  }
}
