@use "../abstracts/" as *;

.experience {
  padding-top: 100px;
  padding-bottom: 92px;
  background-color: $color-primary;
  color: $color-white;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $gap-xl;
  }

  &__item {
    display: flex;
    gap: $gap;
  }

  &-description {
    margin-top: -0.5rem; // -8px
  }

  &-number {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 0.125rem; // 2px
  }

  &-picture {
    order: -1;
  }
}
