@use "../abstracts/" as *;
@use "../mixins" as *;

.footer {
  padding-top: 50px;
  padding-bottom: 50px;

  color: $color-white;
  background-color: $color-primary;

  &__title {
    margin-bottom: 0.4375rem; // 7px

    font-size: 21px;
    font-weight: 500;
  }

  &__description {
    font-size: 13px;
  }
}
