@use '../abstracts/' as *;
@use '../mixins' as *;

.footer {
  padding-top: 50px;
  padding-bottom: 50px;

  color: $color-white;
  background-color: $color-primary;

  &__title {
    font-size: 21px;
    font-weight: 500;

    @include lg-min {
      margin-bottom: 7px;
    }
    @include lg-sm {
      margin-bottom: 5px;
    }
    @include sm {
      margin-bottom: 3px;
    }
  }

  &__description {
    font-size: 13px;
  }
}
