@use '../abstracts/' as *;
@use '../mixins' as *;

.header {
  background-color: $color-gray-light;
  padding-top: 79px;

  @include lg-min {
    padding-bottom: 140px;
  }

  @include lg-sm {
    padding-bottom: 70px;
  }

  @include sm {
    padding-bottom: 50px;
  }
}
