@use "../abstracts" as *;
@use "../mixins/mixins-media" as *;

.hero {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include md-min {
    align-items: flex-start;

    max-width: $conteiner-secondary;
  }
  @include md {
    align-items: center;

    text-align: center;
  }

  &__title {
    margin-bottom: 2.5rem; // 40px
  }

  &__description {
    align-items: flex-start;

    margin-bottom: 3.5625rem; // 57px

    color: $color-secondary;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 225px;
    min-height: 65px;
    padding: 19px;

    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    color: $color-white;
    background-color: $color-primary;
  }
}
