@use '../abstracts/' as *;
@use '../mixins' as *;
@use '../mixins/mixins-media' as *;

.navbar {
  @include lg-min {
    margin-bottom: 117px;
  }
  @include lg-sm {
    margin-bottom: 90px;
  }
  @include sm {
    margin-bottom: 50px;
  }
  @include md {
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 51px;
  }

  &__link {
    letter-spacing: $letter-spacing;

    &--active {
      color: $color-primary;

      font-weight: 500;
    }
  }
}
