@use "../abstracts/" as *;

@mixin tools {
  @media (992px ≤ width) {
    @content;
  }

  @media (width ≤ 992px) {
    margin-bottom: 90px;
  }
}

.navbar {
  @include tools {
    margin-bottom: 117px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 51px;
  }

  &__link {
    letter-spacing: $letter-spacing;

    &--active {
      color: $color-primary;
      font-weight: 500;
    }
  }
}
