@use "../abstracts/" as *;

.video {
  background-color: $color-gray-light;

  &__iframe {
    border: 0;
    width: 100%;
    height: auto;
    margin-bottom: 5.75rem; // 92px
    aspect-ratio: 16 / 9;
    min-height: 200px;
  }
}
