@use "../abstracts/" as *;

.video {
  background-color: $color-gray-light;

  &__iframe {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin-bottom: 5.75rem; // 92px

    border: 0;

    aspect-ratio: 16 / 9;
  }
}
