@use '../abstracts/variables' as *;

.container {
  width: min(100% - 40px, $container-primary);
  margin-inline: auto;
}

.container-sm {
  width: min(100% - 40px, $container-secondary);
  margin-inline: auto;
}

.about .container-sm {
  transform: translateX(4px);
}

.process .container-sm {
  transform: translateX(6px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  white-space: nowrap;
  visibility: hidden;
}
