.container {
  width: min(100% - 40px, 1110px);
  margin-inline: auto;
}

.container-sm {
  width: min(100% - 40px, 540px);
  margin-inline: auto;
}

.about .container-sm {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

.work .container-sm {
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(6px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.64;
}
.header {
  background-color: #eeeff1;
  position: relative;
}

.navbar {
  padding-top: 80px;
  margin-bottom: 143px;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 50px;
}
.navbar__link {
  line-height: 1.64;
  letter-spacing: 1.7px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
.navbar__link--active {
  color: #34547a;
}
.navbar__item:nth-last-child(3) {
  margin-right: 10px;
}

.hero {
  max-width: 540px;
  padding-bottom: 140px;
}
.hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.64;
  margin-bottom: 35px;
}
.hero__description {
  line-height: 1.64;
  padding-left: 2px;
  color: #727272;
  margin-bottom: 55px;
}
.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  background-color: #34547a;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.64;
  letter-spacing: 1.7px;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 225px;
  min-height: 65px;
}

.about {
  margin-top: 117px;
  margin-bottom: 92px;
}
.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 42px;
}
.about__description {
  line-height: 1.64;
  text-align: center;
  color: #727272;
  margin-bottom: 50px;
}

.experiance {
  background-color: #34547a;
  padding: 100px 0 96px;
}
.experiance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.experiance__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.pexperiance__item:nth-child(1) {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}
.experiance__item:nth-child(3) {
  -webkit-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
  transform: translateX(-7px);
}
.experiance__item:nth-child(4) {
  -webkit-transform: translateX(-14px);
  -ms-transform: translateX(-14px);
  transform: translateX(-14px);
}
.experiance__item:nth-child(5) {
  -webkit-transform: translateX(-19px);
  -ms-transform: translateX(-19px);
  transform: translateX(-19px);
}
.experiance__item:nth-child(6) {
  -webkit-transform: translateX(-27px);
  -ms-transform: translateX(-27px);
  transform: translateX(-27px);
}
.experiance__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.experiance__item-number {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  color: #ffffff;
}
.experiance__item-label {
  color: #ffffff;
}

.work {
  background-color: #eeeff1;
}
.work__title {
  padding-top: 103px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 42px;
}
.work__description {
  line-height: 1.64;
  text-align: center;
  color: #727272;
  padding-bottom: 50px;
}

.video {
  padding-bottom: 100px;
  background-color: #eeeff1;
}
.video__iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: 0;
  min-height: 200px;
}

.footer {
  background-color: #34547a;
  color: #ffffff;
  padding: 50px 0;
}
.footer__title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 18px;
}
.footer__description {
  font-size: 13px;
}
@media (max-width: 992px) {
  .hero__title {
    font-size: 40px;
  }
  .about__title,
  .process__title {
    font-size: 28px;
  }
  .hero__description,
  .about__description,
  .process__description {
    font-size: 16px;
  }
  .experiance__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .experiance__item {
    width: 30%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-bottom: 20px;
  }
  .experiance__item:nth-child(n) {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media (max-width: 768px) {
  .nav__list {
    gap: 40px;
  }
  .hero__title {
    font-size: 32px;
  }
  .about__title,
  .process__title {
    font-size: 24px;
  }
  .hero__description,
  .about__description,
  .process__description {
    font-size: 15px;
  }
  .experiance__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 20px;
  }
  .experiance__item {
    width: 45%;
    margin-bottom: 20px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .experiance__item:nth-child(n) {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media (max-width: 576px) {
  .navbar {
    margin-bottom: 0;
    padding-top: 20px;
  }
  .navbar__list {
    display: none;
  }
  .hero {
    padding-bottom: 40px;
  }
  .hero__title {
    font-size: 24px;
  }
  .hero__description {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .hero__btn {
    min-width: 180px;
    min-height: 50px;
    font-size: 14px;
    padding-top: 8px;
  }
  .about {
    margin: 60px 0;
  }
  .about__title,
  .process__title {
    font-size: 20px;
  }
  .about__description,
  .process__description {
    font-size: 14px;
  }
  .process__title {
    padding-top: 60px;
  }
  .experiance {
    padding: 60px 0;
  }
}
@media (max-width: 375px) {
  .hero__title {
    font-size: 20px;
  }
  .about__title,
  .process__title {
    font-size: 18px;
  }
  .hero__description,
  .about__description,
  .process__description {
    font-size: 13px;
  }
  .hero__btn {
    margin-inline: auto;
  }
  .experiance__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .experiance__item {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
