@use "./normalize.css";
@use "abstracts" as *;
@use "base" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

// Основные стили
html {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
}

// Заголовок сайта
.header {
  background-color: $color-gray-light;
  padding-top: 79px;
  padding-bottom: 140px;
}

// Навигация
.navbar {
  margin-bottom: 117px;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 51px;
}

.navbar__link {
  letter-spacing: $letter-spacing;
}

.navbar__link--active {
  color: $color-primary;
  font-weight: 500;
}

// Герой-блок
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: $conteiner-secondary;
}

.hero__title {
  margin-bottom: 2.5rem; // 40px
}

.hero__description {
  margin-bottom: 3.5625rem; // 57px
  color: $color-secondary;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 19px;
  min-width: 225px;
  min-height: 65px;
  background-color: $color-primary;
  color: $color-white;
  letter-spacing: $letter-spacing;
}

// Секции
.about {
  background-color: $color-white;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.section__title {
  margin-bottom: 2.3125rem; // 37px
}

.section__description {
  color: $color-secondary;
}

// Опыт
.experiance {
  padding-top: 100px;
  padding-bottom: 92px;
  background-color: $color-primary;
  color: $color-white;
}

.experiance__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $gap-xl;
}

.experiance__item {
  display: flex;
  gap: $gap;
}

.experiance__item-description {
  margin-top: -0.5rem; // -8px
}

.experiance__item-number {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 0.125rem; // 2px
}

.experiance__item-picture {
  order: -1;
}

// Процесс
.process {
  background-color: $color-gray-light;
  height: 309.5px;
}

.process__title {
  margin-bottom: 2.25rem; // 36px
}

// Видео
.video {
  background-color: $color-gray-light;
}

.video__iframe {
  border: 0;
  width: 100%;
  height: auto;
  margin-bottom: 5.75rem; // 92px
  aspect-ratio: 16 / 9;
  min-height: 200px;
}

// Подвал
.footer {
  background-color: $color-primary;
  color: $color-white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title {
  margin-bottom: 0.4375rem; // 7px
  font-size: 21px;
  font-weight: 500;
}

.footer__description {
  font-size: 13px;
}
